<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BeeOnTime20"
        tools:targetApi="34">
        <activity
            android:name=".ui.admin.activity.AddBranchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.activity.BranchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.activity.LeaveRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.activity.StaffsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.activity.EditUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.activity.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.ImageResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.user.LeaveRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBC-y7FVS6XSdWBV9gEq5KHErWGtJ4-Tw8" />
    </application>

</manifest>